@model GasHub.Models.ProductSize

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Product Size </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Product Size </a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Product Size </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div class="card-body">
                            <a asp-action="Index" class="btn btn-success my-2"> <i class="fa fa-list"></i> Back to Product Size List</a>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label asp-for="Size" class="control-label"></label>
                                                <input asp-for="Size" class="form-control" />
                                                <span asp-validation-for="Size" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Unit" class="control-label"></label>
                                                <input asp-for="Unit" class="form-control" />
                                                <span asp-validation-for="Unit" class="text-danger"></span>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UpdatedBy" class="control-label"></label>
                                                <input asp-for="UpdatedBy" class="form-control" />
                                                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="CreationDate" class="control-label"></label>
                                                <input asp-for="CreationDate" class="form-control" />
                                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UpdateDate" class="control-label"></label>
                                                <input asp-for="UpdateDate" class="form-control" />
                                                <span asp-validation-for="UpdateDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CreatedBy" class="control-label"></label>
                                                <input asp-for="CreatedBy" class="form-control" />
                                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <input type="submit" value="Create Company" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
