@model GasHub.Models.User

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create User </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">User</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create User</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div class="card-body">
                            <a asp-action="Index" class="btn btn-success my-2"> <i class="fa fa-list"></i> Back to User List</a>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="UserImg" class="control-label"></label>
                                                <input asp-for="UserImg" class="form-control" />
                                                <span asp-validation-for="UserImg" class="text-danger"></span>
                                            </div>
                                            

                                            <div class="form-group">
                                                <label asp-for="IsActive" class="control-label"></label>
                                                <select asp-for="IsActive" class="form-control">
                                                    <option value="">-- Select --</option>
                                                    <option value="true">Active</option>
                                                    <option value="false">Inactive</option>
                                                </select>
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label asp-for="DeactivatedDate" class="control-label"></label>
                                                <input asp-for="DeactivatedDate" class="form-control" />
                                                <span asp-validation-for="DeactivatedDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="DeactiveBy" class="control-label"></label>
                                                <input asp-for="DeactiveBy" class="form-control" />
                                                <span asp-validation-for="DeactiveBy" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="TIN" class="control-label"></label>
                                                <input asp-for="TIN" class="form-control" />
                                                <span asp-validation-for="TIN" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="IsBlocked" class="control-label"></label>
                                                <input asp-for="IsBlocked" class="form-control" />
                                                <span asp-validation-for="IsBlocked" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">


                                            <div class="form-group">
                                                <label asp-for="CreationDate" class="control-label"></label>
                                                <input asp-for="CreationDate" class="form-control" />
                                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UpdateDate" class="control-label"></label>
                                                <input asp-for="UpdateDate" class="form-control" />
                                                <span asp-validation-for="UpdateDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CreatedBy" class="control-label"></label>
                                                <input asp-for="CreatedBy" class="form-control" />
                                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UpdatedBy" class="control-label"></label>
                                                <input asp-for="UpdatedBy" class="form-control" />
                                                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <input type="submit" value="Create Delivery Address" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
