@model GasHub.Models.ViewModels.TraderViewModel

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Trader </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Trader</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Trader</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit">
                        <div class="card-body">
                            <a asp-action="Index" class="btn btn-success my-2"> <i class="fa fa-list"></i> Back to Trader List</a>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="CompanyList"></label>
                                                <select class="form-control" asp-for="Trader.CompanyId">
                                                    <option value="">Select Chapter</option>
                                                    @foreach (var Company in Model.CompanyList)
                                                    {
                                                        <option value="@Company.Id">@Company.Name</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Trader.Name" class="control-label"></label>
                                                <input asp-for="Trader.Name" class="form-control" />
                                                <span asp-validation-for="Trader.Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.Contactperson" class="control-label"></label>
                                                <input asp-for="Trader.Contactperson" class="form-control" />
                                                <span asp-validation-for="Trader.Contactperson" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Trader.ContactPerNum" class="control-label"></label>
                                                <input asp-for="Trader.ContactPerNum" class="form-control" />
                                                <span asp-validation-for="Trader.ContactPerNum" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.ContactNumber" class="control-label"></label>
                                                <input asp-for="Trader.ContactNumber" class="form-control" />
                                                <span asp-validation-for="Trader.ContactNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.IsActive" class="control-label"></label>
                                                <select asp-for="Trader.IsActive" class="form-control">
                                                    <option value="">-- Select --</option>
                                                    <option value="true">Active</option>
                                                    <option value="false">Inactive</option>
                                                </select>
                                                <span asp-validation-for="Trader.IsActive" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label asp-for="Trader.DeactivatedDate" class="control-label"></label>
                                                <input asp-for="Trader.DeactivatedDate" class="form-control" />
                                                <span asp-validation-for="Trader.DeactivatedDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.DeactiveBy" class="control-label"></label>
                                                <input asp-for="Trader.DeactiveBy" class="form-control" />
                                                <span asp-validation-for="Trader.DeactiveBy" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.BIN" class="control-label"></label>
                                                <input asp-for="Trader.BIN" class="form-control" />
                                                <span asp-validation-for="Trader.BIN" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" hidden="true">
                                                <label asp-for="Trader.Id" class="control-label"></label>
                                                <input asp-for="Trader.Id" class="form-control" />
                                                <span asp-validation-for="Trader.Id" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label asp-for="Trader.CreationDate" class="control-label"></label>
                                                <input asp-for="Trader.CreationDate" class="form-control" />
                                                <span asp-validation-for="Trader.CreationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.UpdateDate" class="control-label"></label>
                                                <input asp-for="Trader.UpdateDate" class="form-control" />
                                                <span asp-validation-for="Trader.UpdateDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.CreatedBy" class="control-label"></label>
                                                <input asp-for="Trader.CreatedBy" class="form-control" />
                                                <span asp-validation-for="Trader.CreatedBy" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Trader.UpdatedBy" class="control-label"></label>
                                                <input asp-for="Trader.UpdatedBy" class="form-control" />
                                                <span asp-validation-for="Trader.UpdatedBy" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="submit" value="Save Trader" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
